body{
    font-family: sans-serif;
}


td{
    border: 2px solid rgb(103, 103, 103);
    background-color: skyblue;
}

table{
    border: 3px solid rgb(103, 103, 103);
    background-color: lightblue;
}